<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <script src="script.js"></script>
</head>
<body>
    <div class="frm" id="frm">
        <h1>Register</h1>
        <input type="text" id="t1" class="text1" placeholder="Enter Your Name">
        <br>
        <input type="email" id="t2" class="text2" placeholder="Enter email">
        <input type="password" id="p" class="pass" placeholder="Enter Your Password">
        <button type="submit" class="button" id="bt" >Register</button>
    </div>
</body>
</html>